/* Navbar.css */

.navbar {
  background-color: rgb(24, 81, 156);
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}
  
  .navbar h2 {
    display: inline;
    color: white;
    margin-right: 2rem;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: right;
    display: inline;
  }
  
  .navbar li {
    display: inline;
    margin-right: 1rem;
  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    }
    
    .navbar li a:hover {
    background-color: #ddd;
    color: black;
    }
    
    .logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    }
    
    .logout-button:hover {
    color: #ddd;
    }
  
  .copyright {
      margin: 0.5rem;
      padding: 1rem;
      text-align: center;
      font-size: 9px;
  }

.container{
  max-width: 650px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper{
  border-bottom: 1px solid black;
  overflow: hidden;
}
.wrapper .question-container{
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.question-container.active{
  color: #4e53a0;
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}
.wrapper .question-container:hover{
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}
.wrapper .arrow{
  font-size: 2rem;
  transition: .5s ease-in-out;
}
.arrow.active{
  rotate: 180deg;
  color: #4e53a0;
}
.wrapper .answer-container{
  padding: 0 1rem;
  transition: height .7s ease-in-out;
}
.wrapper .answer-content{
  padding: 1rem 0;
  font-size: 20px;
  font-style: italic;
}

.bannerdog{
  top: 100%;
  background-position: center;
  color: black;
  background-repeat: no-repeat;
  height: 1000px;
  background-size: cover;
  width: 100%;
}

.logo{
  width: 30px;
  height: 30px;
  bottom: 15%;
}

